<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>UNIMI - Prenota</title>
        <link href="/prenota/style.css" rel="stylesheet" type="text/css">
        <script language="JavaScript" src="/prenota/script.js"></script>
    </head>
    <body>

        <div class="header">
            <div class="logo">
                <img src="../img/LogoUnimi.svg" alt="Image Not Found!">
            </div>
            <div class="title">
                <h1>Università Statale di Milano</h1>
                <h3>Progetto Programmazione Web e Mobile - Luca Forzano</h3>
            </div>
        </div>

        <div class="navbar">
            <a href="/view">
                <button class="view">Visualizza prenotazioni</button>
            </a>
            <form action="/logout" method="POST">
                <button class="logout">Logout</button>
            </form>
        </div>

        <div class="page">
            <div class="text">
                <h3>Prenotazione aula</h3>
            </div>

            <div class="message">
                <h4><%= message %></h4>
                <h4 class="success"><%= success %></h4>
            </div>

            <div class="prenota">
                <form action="/prenota" method="POST">
                    <label for="data"><h4>Inserisci la data:</h4></label>
                    <input type="date" name="data" id="data" onChange="Data()"> <br><br>
                    <label for="aula"><h4>Seleziona l'aula:</h4></label>
                    <select name="aula" id="aula">
                        <option value="">-- selezionare --</option>
                        <option value="1A">1A</option>
                        <option value="1B">1B</option>
                        <option value="2A">2A</option>
                        <option value="2B">2B</option>
                    </select>
                    <br><br>
                    <input type="submit" value="Prenota" class="button" onClick="CheckData()">
                </form>
            </div>
        </div>
        <div class="credit">
            <p>Created by Luca Forzano</p>
        </div>
    </body>
</html>